/*------------------------------------------------------------------
[Master Stylesheet]

Project:		BORODA THEME
Version:		1.2
Last change:	15 JUL 2015
Assigned to:	GuRoN
Primary use:	Blog site
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

0. Import
1. Typograpgy
2. Menu
3. Blog
4. Responsive

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[0. Import]
-------------------------------------------------------------------*/

@import url('font-awesome.min.css');
@import url('lightbox.css');
@import url('flexslider.css');
@import url('owl.carousel.css');
@import url('owl.theme.css');
/*------------------------------------------------------------------
[1. Typograpgy]
-------------------------------------------------------------------*/

body {
	opacity:0;
	transition:all .6s .5s;
}

.preloader {
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:999;
}
.preloader .gr_load_ring,
.preloader .gr_preload_logo {
	position:absolute;
	width:100%;
	text-align:center;
}
.preloader .gr_load_ring {
	top:70%;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}

.preloader .gr_preload_logo {
	top:30%;
	left:0;
}
.preloader.loaded .gr_preload_logo {
	transition:top .5s;
}
.preloader.loaded .gr_load_ring {
	top:50%;
	opacity:0;
	transition:top .5s .5s, opacity .5s .5s;
}
.preloader.loaded .gr_load_ring h2 {
	color:#cdb48c;
	transition:color .5s;
}

header {
	position:relative;
	margin-bottom:60px;
}

.gr_header_background {
	position:relative;
}
.gr_header_background:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	opacity:0.15;
}
.gr_site_holder {
	margin:30px;
	background:#fff;
	transition:all .5s;
}

.gr-logo a {
	display: inline-block;
}


a:hover,
a:focus {
    text-decoration: none;
    color: #cdb48c;
	outline:none !important
}
p:empty {
	margin:0 !important;
}
.img-responsive {
    margin: 0 auto;
}
.wide .row {
    margin: 0 !important;
}
.wide .col-md-12 {
    padding: 0 !important;
}



#gr_box_search,
#gr_box_social {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.9);
	z-index:999;
}
.gr_box_overlay {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.gr_close_over {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.gr_box_overlay.gr_box_open_s {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.gr_box_holder {
	position:absolute;
	min-width:450px;
	top:50%;
	left:50%;
	text-align:center;
	z-index:10000;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
}
.gr_box_holder .gr_search_input {
	background:none;
	border:1px solid #fff;
	border-radius:0;
	padding:10px;
	color:#fff;
	width:70%;
	font-size:12px;
	letter-spacing:2px;
	opacity:0;
	font-weight:400;
	transform:translateX(-100px);
	-moz-transform:translateX(-100px);
	-webkit-transform:translateX(-100px);
	outline:none !important;
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
}
.gr_box_holder .gr_search_input:hover {
	border: 1px solid #cdb48c;
	transition:border .35s;
	-webkit-transition:border .35s;
	-moz-transition:border .35s;
}
.gr_box_holder .gr_search_submit,
.gr_box_holder .gr_close {
	background: none;
	border: 1px solid #fff;
	padding:10px 20px;
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:2px;
	font-weight:400;
	opacity:0;
	outline:none !important;
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
}
.gr_box_holder .gr_search_submit:hover {
	border:1px solid #cdb48c;
	background:#cdb48c;
	color:#fff;
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
}
.gr_box_holder .gr_close {
	letter-spacing:4px;
	font-weight:300;
	content:'';
	border:none;
	margin-top:60px;
	transition:opacity .9s;
	-webkit-transition:opacity .9s;
	-moz-transition:opacity .9s;
	padding:0 15px;
}

.gr_box_holder .gr_box_title {
	text-transform:uppercase;
	color:#cdb48c;
	font-size:22px;
	letter-spacing:2px;
	font-weight:400;
	margin-bottom:50px;
}
.gr_box_holder .gr_search_submit {
	transform:translateX(100px);
	-moz-transform:translateX(100px);
	-webkit-transform:translateX(100px);
}
.gr_box_holder .gr_box_share_holder {
	text-align:center;
}
.gr_box_holder .gr_box_share_holder a {
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:22px;
	line-height:47px;
	margin-right:15px;
	background:none;
	color:#fff;
	border:1px solid #fff;
	transition:all .35s;
	-webkit-transition:all .35s;
}
.gr_box_holder .gr_box_share_holder a:hover {
	border:1px solid #cdb48c;
	background:#cdb48c;
	color:#fff;
	transition:all .35s;
	-webkit-transition:all .35s;
}

.gr_box_open_s .gr_search_submit,
.gr_box_open_s .gr_search_input,
.gr_box_open_s .gr_close  {
	opacity:1;
	transform:translateX(0);
	-moz-transform:translateX(0);
	-webkit-transform:translateX(0);
	-webkit-transition: -webkit-transform 0.5s 0.4s, opacity 0.5s 0.4s, color .35s, border .35s, background .35s;
	transition: transform 0.5s 0.4s, opacity 0.5s 0.4s, color .35s, border .35s, background .35s;
}
.gr-search {
	float:left;
}
.gr-social {
    float: right;
}
.gr-social > a,
.gr-search > a {
    display: inline-block;
    transition: color 0.15s;
    -webkit-transition: all 0.15s;
	-moz- transition: color 0.15s;
	border-top:4px solid #000;
	padding-top:10px;
	min-width:30px;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:4px;
	padding-left:4px;
	font-weight:400;
}
.gr-social > a:last-child {
    margin-right: 0;
}

.gr_share_box {
	position:absolute;
	top:0;
	right:0;
	border:2px solid #000;
	display: none;
}
.gr_share_box a {
	display:block;
	text-align:center;
}
.gr_site_holder.gr_box_open {
	transform:scale(0.8) translateY(-10%);
	-webkit-transform:scale(0.8) -webkit-translateY(-10%);
	transition:all .5s;
}


.gr-logo {
    text-align: center;
	margin:60px 0;
}
.gr-logo h2 {
	margin-top:30px;
	font-size:24px;
	line-height:40px;
	text-shadow: 0 1px #fff;
}
.gr-logo h2 span {
	font-weight:400;
	color:#000;
	border-bottom:2px solid #cdb48c;
}
.gr_head {
    margin-bottom: 30px;
}
.wpcf7 {
    border-top: 1px solid #dcdcdc;
    margin-top: 40px !important;
    padding: 40px 0 !important;
    font-size: 13px;
    text-transform: uppercase;
}
.wpcf7 input {
    width: 100%;
}
.wpcf7 textarea {
    width: 100%;
    height: 182px;
}
.wpcf7 input,
.wpcf7 textarea,
#comments input,
#comments textarea {
    border: 1px solid #dcdcdc;
    padding: 5px 10px;
    margin-top: 3px;
    font-size: 12px;
	letter-spacing:1px;
    transition: border .35s;
    -webkit-transition: border .35s;
}
.wpcf7 input:hover,
.wpcf7 textarea:hover,
#comments input:hover,
#comments textarea:hover,
.searchform input:hover {
    border: 1px solid #dcdcdc;
    transition: border .35s;
    -webkit-transition: border .35s;
}
.wpcf7 input,
.wpcf7 textarea,
#comments input,
#comments textarea {
    outline: none !important;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}
.wpcf7 .wpcf7-submit,
#comments .form-submit input {
    display: block;
    min-width: 150px;
    height: 35px;
    margin: 0 auto;
    background-color: #fff;
    transition: all .35s;
    -webkit-transition: all .35s;
    text-transform: uppercase;
}
#comments .form-submit .submit {
	border:1px solid #eaeaea;
	transition:all .35s;
	-webkit-transition:all .35
}
#comments .form-submit .submit:hover {
	background:#cdb48c;
	color:#fff;
	transition:all .35s;
	-webkit-transition:all .35s;
}
.wpcf7 .wpcf7-submit:hover {
    border: 1px solid #cdb48c;
	background:#cdb48c;
    color: #fff;
    transition: all .35s;
    -webkit-transition: all .35s;
}
.wpcf7 .wpcf7-form-control-wrap {
    position: relative;
}
.wpcf7 .wpcf7-not-valid-tip {
    position: absolute;
    right: 0;
    color: #red;
    font-size: 12px;
    text-transform: none;
}
.wpcf7 .wpcf7-validation-errors,
.wpcf7 .wpcf7-mail-sent-ok {
    padding: 10px;
    text-transform: none;
}
.wpcf7 .wpcf7-validation-errors {
    border: 1px solid #ffa6a6;
    background-color: #fff2f2;
}
.wpcf7 .wpcf7-mail-sent-ok {
    border: 1px solid #66b266;
    background-color: #eff7ef;
}
#comments label {
    font-size: 13px;
    min-width: 100px;
    text-transform: uppercase;
    font-weight: normal;
}
#comments .comment-form-comment label,
#comments .form-allowed-tags {
    display: none;
}
#comments .comment-form-author input,
#comments .comment-form-email input,
#comments .comment-form-url input {
    width: 40%;
}
#comments .comment-form-comment textarea {
    width: 100%;
    height: 150px;
}
#comments .comment-reply-title {
    text-transform: uppercase;
}
#comments .comment-notes,
#comments .logged-in-as {
    font-size: 12px;
}
#comments .logged-in-as a:first-child {
	color:#cdb48c;
	font-weight:700;
}
.gr_widget {
    margin-bottom: 50px;
	background:#fbfbfb;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	padding: 30px;
	box-shadow: 1px 1px #fff, 2px 2px #eaeaea, 3px 3px #fff, 4px 4px #eaeaea;
}

.gr_widget .gr_widget_title {
	text-align:center;
	overflow:hidden;
	margin-top:0;
	margin-bottom:25px;
}
.gr_widget .gr_widget_title span {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 2px;
	font-weight: 400;
}

.gr_widget ul {
    padding: 0;
    list-style: none;
}
.gr_widget ul > li {
    padding: 3px 7px;
    border-width:1px;
	border-style:solid;
	border-color:transparent;
    font-size: 13px;
    color: #999;
}
.gr_widget ul li:last-child {
    border-bottom: none;
}
.gr_widget ul li a {
    transition: color .35s;
    -webkit-transition: color .35s;
}
.gr_widget ul li a:hover {
    transition: color .35s;
    -webkit-transition: color .35s;
}

.cat-item a {
	display:block;
}
.cat-item a:before {
	font-family: 'FontAwesome';
	content:'\f105';
	display:inline-block;
	padding-right:10px;
	transition:transform .35s;
	-moz-transition:transform .35s;
	-webkit-transition:-webkit-transform .35s;
}
.cat-item a:hover {
	transition:transform .35s;
	-moz-transition:transform .35s;
	-webkit-transition:-webkit-transform .35s;
}
.cat-item a:hover:before {
	transform:translateX(5px);
	-moz-transform:translateX(5px);
	-webkit-transform:translateX(5px);
	transition:transform .35s;
	-moz-transition:transform .35s;
	-webkit-transition:-webkit-transform .35s;
}

.postform {
    width: 100%;
    padding: 3px 5px;
    font-size: 13px !important;
    outline: none;
}
.gr_widget .recentcomments {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    color: #999;
}
.gr_widget .recentcomments:last-child {
    border-bottom: none;
}
.gr_widget .url {
    color: #999;
}
.gr_widget .recentcomments > a {
    display: block !important;
}

.gr_404 {
	padding:100px 0 200px 0;
}

.gr_footer_widget {
	padding:70px 0;
}
.gr_footer_widget .gr_widget {
	background:rgba(255,255,255,0.87);
	padding:15px 30px;
	min-height:400px;
	margin:0;
	border:none;
	box-shadow:none;
}

footer {
	background:#5c5c5c;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
}
footer a {
	color:#fff;
}

.searchform .screen-reader-text {
    display: none;
}
.searchform div {
    display: table;
    width: 100%;
}
.searchform input {
    border: 1px solid #ececec;
    border-radius: 0;
    font-size: 11px;
	letter-spacing:1px;
    outline: none;
    transition: border .35s;
    -webkit-transition: border .35s;
}
#s,
#searchsubmit {
    display: table-cell;
}
.searchform #s,
.searchform #s-top {
    -webkit-appearance: none;
    padding: 1px 5px;
    border-radius: 0;
}
.searchform.headform #s-top {
    position: relative;
    color: #444;
    width: 30%;
}
.searchform.headform #searchsubmit-top {
    float: none;
    border: none;
    margin-top: 1px;
    background: none;
    color: #999;
    outline: none;
}
#searchsubmit {
    background: #fff;
    text-transform: uppercase;
    width: 30%;
	transition:all .35s;
	-webkit-transition:all .35s;
}
#searchsubmit:hover {
	color:#fff;
}
#s {
    float: left;
    width: 68%;
    margin-right: 2px;
}

.gr_widget .tagcloud:after {
    content: '';
    display: block;
    clear: both;
}
.gr_widget .tagcloud a {
    display: block;
    float: left;
    padding: 2px 5px;
    margin-right: 2px;
    margin-bottom: 3px;
    text-transform: uppercase;
    border: 1px solid #ececec;
	background:#fff;
    line-height: 18px;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.gr_widget .tagcloud a:hover {
    color: #fff;
    border: 1px solid #cdb48c;
	background:#cdb48c;
	transition: all .2s;
    -webkit-transition: all .2s;
}
.gr_widget ul {
    padding: 0;
    margin: 0;
}

.gr_widget .gr_tweet {
	font-size:13px;
	margin-bottom:10px;
	border-bottom:1px solid #eaeaea;
	padding-bottom:10px;
}
.gr_widget .gr_tweet:last-child {
	margin-bottom:0;
	border-bottom: none;
	padding-bottom:0;
}
.gr_widget .gr_tweet_content a {
	color:#cdb48c;
}
.gr_widget .gr_tweet_time a {
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#999;
}

.gr_widget .cff-wrapper .cff-item {
	letter-spacing:1px;
	border:none !important;
}
.gr_widget .cff-wrapper .cff-text {
	font-size:14px;
}
.gr_widget .cff-wrapper a {
	color:#cdb48c;
	transition: color .35s;
	-webkit-transition: color .35s;
}
.gr_widget .cff-wrapper .cff-link-title a:hover {
	transition: color .35s;
	-webkit-transition: color .35s;
}

.gr_image_author_back {
	background-position:center center;
	background-size: cover !important;
	position:relative;
	height:200px;
	margin-bottom:90px;
}
.gr_image_author_back .gr_image_author {
	position:absolute;
	bottom:-75px;
	left:50%;
	width:150px;
	margin-left:-75px;
}
.gr_image_author_back .gr_image_author img {
	border:5px solid #fbfbfb;
}
.gr_image_author {
    max-width: 80%;
	margin:0 auto;
    height: auto;
    margin-bottom: 10px;
}
.gr_image_author .gr_round_img {
    border-radius: 50%;
}
.gr_about_text {
    font-size: 18px;
    text-align: center;
	font-weight:300;
}

.gr_search_container {
	margin-bottom:60px;
}
.gr_search_container .gr_post_holder {
	padding:0 !important;
}
.gr_search_container .gr_blog_post_cat,
.gr_search_container .gr_blog_post_data_holder {
    margin: 0;
    font-size: 12px;
}
.gr_search_container .gr_blog_post_cat_holder {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
}
.this_page {
	margin-bottom:60px;
}
.this_page .gr_blog_tag_holder {
	float:right;
}
.this_page .gr_blog_post_cat_holder {
	width:90%;
	position:relative;
	margin:0 auto;
    margin-top: 20px;
}

.gr_blog_tag_holder {
	position:relative;
}

.gr_blog_tag_holder,
.gr_blog_comment_holder a,
.gr_blog_tag_holder a {
	letter-spacing:1px;
	color:#999;
	text-transform:uppercase;
	font-size:10px;
	transition:color .35s;
	-webkit-transition:color .35s;
}
.gr_blog_comment_holder a,
.gr_blog_tag_holder a {
	transition:color .35s;
	-webkit-transition:color .35s;
}

ul.gr_many_tags,
.gr_many_tags ul {
	margin:0;
	padding:0;
	list-style:none;
}
.gr_many_tags {
	position: absolute;
	right: -15px;
	top: 3px;
	z-index:10;
	padding-bottom:2px;
}
.gr_many_tags > li > a {
	display: inline-block;
	padding:0 15px 0 10px;
	cursor:pointer;
	text-align:right;
}
.gr_many_tags ul > li {
	white-space:nowrap;
	text-align:right;
	line-height:15px;
	display:block;
	padding:2px 15px;
	background-color: #fbfbfb;
	border-bottom: 1px solid #fff;
}
.gr_many_tags > li:first-child {
	white-space: nowrap;
	text-align: right;
}
.gr_many_tags > li:first-child,
.gr_many_tags > li > ul > li:last-child  {
	border:none;
}
ul.gr_many_tags ul {
	display:none;
	border-top:1px solid #eaeaea;
}
.this_page ul.gr_many_tags ul {
	border-top:none;
}
ul.gr_many_tags > li:hover > ul {
	display:block;
}

.gr_search_container .gr_post_holder:nth-child(even) .gr_blog_post_cat_holder {
    left: 10px;
}
.gr_search_container .gr_post_holder:nth-child(odd) .gr_blog_post_cat_holder {
    right: 10px;
}
.gr_search_head {
    background-color: #f5f5f5;
    padding: 30px 0;
}
.gr_search_head .gr_head_search {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
	letter-spacing:2px;
}
.gr_serch_res {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
	color:#cdb48c;
}
.comment-list li,
.comment-list li ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.gr_com_header {
    text-transform: uppercase;
}
.gr_com_avatar,
.gr_com_holder {
    display: table-cell;
    vertical-align: top;
}
.gr_com_holder {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    width: 10000px;
}
.gr_com_avatar {
    padding-right: 20px;
}
.gr_com_avatar img {
    border-radius: 50%;
}
.gr_com_author {
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	padding-right: 10px;
}
.gr_com_data {
	display:inline-block;
    font-size: 12px;
    color: #999;
}
.gr_com_edit {
    padding-left: 5px;
    font-size: 15px;
}
.gr_com_reply {
    position: absolute;
    top: 0;
    right: 0;
}
.gr_com_reply a,
.comment-reply-title small a {
    display: inline-block;
    border: 1px solid #ececec;
    padding: 0 10px;
    text-transform: lowercase;
    transition: border .35s;
    -webkit-transition: border .35s;
    float: right;
}
.gr_com_reply a:hover {
    transition: border .35s;
    -webkit-transition: border .35s;
}
.comment-reply-title {
    font-size: 20px;
}
.comment-reply-title small {
    font-size: 100%
}
.comment-reply-title small a {
    padding: 5px 10px;
    margin-top: -5px;
}
.comment-body {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
}
.comment-body:last-child {
    border: none;
}
.comment ul.children {
    margin-left: 65px;
}
pre {
	padding: 30px;
	margin: 20px 0;
	color: #fbfbfb;
	background-color: #666;
	border: none;
	border-radius: 0;
	word-break: break-all; /* webkit */
	word-wrap: break-word;
	white-space: pre;
	white-space: -moz-pre-wrap; /* fennec */
	white-space: pre-wrap;
	white-space: pre\9; /* IE7+ */
}
.alignleft {
    float: left;
    margin: 5px 20px 5px 0;
}
.alignright {
    float: right;
    margin: 5px 0 5px 20px;
}
.aligncenter {
    margin: 0 auto;
}

.gr_footer {
    padding: 30px 0;
	text-align:center;
}
.gr_counts {
    visibility: hidden;
    position: absolute;
}
.gr_load_more {
	content: 'Load more posts';
    cursor: pointer;
    display: block;
    text-align: center;
	font-size:12px;
	letter-spacing:2px;
	width:200px;
	margin:20px auto;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
	transition:color .35s;
	-webkit-transition:color .35s;
}

.gr_load_more:hover {
	transition:color .35s;
	-webkit-transition:color .35s;
}

.gr_load_more.disabled {
    color: #a5a5a5 !important;
    cursor: default;
}
select {
    border: 1px solid #ececec;
    padding: 5px;
    width: 100%;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
}
#wp-calendar tr,
#wp-calendar th {
    font-size: 12px;
    text-align: center;
}
#wp-calendar thead th {
    padding: 7px;
    border: 1px solid #f5f5f5;
}
#wp-calendar tbody td {
    padding: 7px;
    background: #f5f5f5;
    border: 1px solid #fdfdfd;
    color: #999
}
#wp-calendar tbody td:hover {
    background: #fdfdfd;
}
#wp-calendar tbody .pad {
    background: none;
}
#prev,
#next {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
#next {
    text-align: right;
}
.page_item_has_children {
    position: relative;
}

.page_item_has_children > ul {
    position: absolute;
    top: 100%;
    left: 10%;
    display: none;
    border: 5px solid #ececec;
    border-top: 1px solid #ececec;
    z-index: 10;
    width: 90%;
}
.page_item:hover {
    background: #f9f9f9;
}
.page_item a {
    display: block;
}
.page_item_has_children:after {
    font-family: 'FontAwesome';
    content: '\f105';
    position: absolute;
    top: 2px;
    right: 5px;
}
.page_item_has_children:hover > ul {
    display: block;
}
.gr_widget .menu {
    text-align: left;
    border: none;
}
.gr_widget .menu > li > a {
    text-align: center;
    display: block;
}
.gr_widget .menu ul ul {
    top: 100% !important;
    left: 10px !important;
    width: 200px !important;
}
.gr_widget .menu li,
.gr_widget .menu a {
    padding: 0;
    margin: 0;
    width: 100%;
}
.gr_flick,
.gr_flick li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gr_flick {
    margin: 0 -1px;
}
.gr_flick li {
    display: block;
    float: left;
    overflow: hidden;
    width: 33.33333333%;
    border: 1px solid #fff !important;
    padding: 0 !important;
}
.gr_flick li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.gr_flick li a:after,
.gr_instagram_widget_ul li a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background .35s;
    -webkit-transition: background .35s;
}

.gr_flick li:hover a:after,
.gr_instagram_widget_ul li:hover a:after {
    background: rgba(255, 255, 255, 0.3);
    transition: background .35s;
    -webkit-transition: background .35s;
}
.gr_flick li a img {
    height: 100%;
}
.gr_instagram_widget_ul li {
    display: block;
    width: 25%;
    float: left;
    border-width:1px;
	border-style:solid;
	border-color:transparent;
    padding: 0 !important;
	overflow:hidden;
}
.gr_instagram_widget_ul li:first-child {
    width: 75%;
}
.gr_instagram_widget_ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.gr_related_posts li {
    padding: 0 !important;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px !important;
}
.gr_related_posts li:last-child {
    border: none;
    padding: 0;
    margin: 0;
}
.gr_related_posts li:after {
    content: "";
    display: block;
    clear: both;
}
.gr_related_posts .gr-img-rel-post {
    float: left;
    width: 30%;
    margin-right: 10px;
}
.gr_related_posts {
    line-height: 15px;
}
.gr_related_posts .gr-date-rel-post {
    font-size: 12px;
    color: #999;
}
.gr_related_posts .gr-content-rel-post h6 {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-transform: capitalize;
    margin: 3px 0;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
}
.gr_related_posts .gr-com-rel-post {
    font-size: 12px;
}
.wp-caption {} .wp-caption-text {} .gallery-caption {} .bypostauthor {}
/*------------------------------------------------------------------
[2. Menu]
-------------------------------------------------------------------*/

.gr_menu_holder {
	background:#000;
	color:#fff;
	position:absolute;
	z-index:99;
	padding:5px 10px;
	border:12px solid #eaeaea;
	border-top:none;
	left:50%;
	min-width:100px;
	width:120px;
	white-space:nowrap;
	text-align:center;
}
.gr_header_menu li a {
	display:inline-block;
	color:#fff;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:11px;
	opacity:0;
	transition:all .35s;
}
.gr_menu_button {
	display:block;
	color:#fff;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:11px;
}
.gr_header_menu {
	padding:20px 0px;
	display:none;
	z-index:999;
	margin:0px;
	list-style:none;
	background:#000;
	color:#fff;
}
.gr_open_ul > a {
	font-weight:600;
	margin-bottom:10px;
}
.gr_open_ul:after {
	display:block;
	content:'';
	width:50px;
	margin:20px auto;
	height:1px;
	background:#eaeaea;
}
.gr_header_menu a {
	color:#fff;
}
.gr_header_menu a:hover {
	color:#cdb48c;
}
.gr_header_menu li:hover {
	background:none;
}
.gr_header_menu ul {
	display:none;
	list-style:none;
	padding:0px;
}

.gr-search-pop-up,
.gr-social-pop-up {
    position: absolute;
    top: 0;
    display: none;
    margin-top: -10px;
    transition: opacity .5s, top .35s;
    -webkit-transition: opacity .5s, top .35s;
}
.gr-search-pop-up {
    left: 0;
}
.gr-social-pop-up {
    right: 0;
}
.gr-search-pop-up .searchform.headform #s-top {
    float: left;
    width: 85%;
}
.gr-search-pop-up .searchform.headform #searchsubmit-top {
    float: left;
}
.gr_menu.gr_cloned {
    z-index: -1;
}
.gr_menu.gr_cloned_show {
    z-index: 999;
}
.gr_menu.gr_cloned_show .gr-search-pop-up {
    display: block;
    top: 50%;
    margin-top: -14px;
    transition: opacity .5s, top .35s;
    -webkit-transition: opacity .5s, top .35s;
}
.gr_menu.gr_cloned_show .gr-social-pop-up {
    display: block;
    top: 50%;
    margin-top: -12px;
    transition: opacity .5s, top .35s;
    -webkit-transition: opacity .5s, top .35s;
}
.gr_button_menu {
    width: 38px;
    height: 38px;
    background: none;
    border: none;
    border-right: 1px solid #ececec;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    outline: none;
}
.gr_button_menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 60%;
    background: #999;
    border-radius: 9px;
    opacity: 1;
    left: 20%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.gr_button_menu span:nth-child(1) {
    top: 9px;
}
.gr_button_menu span:nth-child(2),
.gr_button_menu span:nth-child(3) {
    top: 17px;
}
.gr_button_menu span:nth-child(4) {
    top: 25px;
}
.gr_button_menu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.gr_button_menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.gr_button_menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.gr_button_menu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
/*------------------------------------------------------------------
[4. Blog]
-------------------------------------------------------------------*/

.gr_grid {
    margin: 0 15px;
}
.item {
    margin-bottom: 20px;
    padding: 0 10px;
}
.item a {
    text-decoration: none;
    transition: color .35s;
    -webkit-transition: color .35s;
}
.item a:hover {
    color: #cdb48c;
    transition: color .35s;
    -webkit-transition: color .35s;
}
.gr_page_title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}
.gr_media p {
    margin: 0;
}
.head h2 {
    padding: 0;
    margin: 0;
    line-height: 30px;
    margin: 10px 0;
}
.head .gr_ddate {
    border: none;
}
.gr_grid_container .gr_post_holder:hover .flexslider img {
    transform: none;
}
.this_page .gr_post_holder {
    overflow: visible;
    border-bottom: 1px solid #ececec;
}
.this_page .gr_blog_post_featuder_holder {
    margin-bottom: 30px;
}
.dropcaps {
	float: left;
	color: #cdb48c;
	font-size: 75px;
	line-height: 60px;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
}
.post_audio iframe {
	width:100%;
	border:none;
	border:0;
}


.gr_author_box {
	margin-top:40px;
	font-size:13px;
	padding:20px;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
}
.gr_author_ava {
	display:table-cell;
	vertical-align:top;
	padding-right:15px;
}
.gr_author_ava img {
	border-radius:50%;
}
.gr_author_text {
	display:table-cell;
	vertical-align:top;
}
.gr_author_social {
	float:right;
	margin-top:5px;
}
.gr_author_social a {
	color:#ccc;
	margin-left:8px;
}
.gr_author_title {
	text-transform: uppercase;
	font-weight:600;
	margin-top:0;
}

.embed-responsive.embed-responsive-21by9 {
	padding-bottom: 42.85%;
}

.embed-responsive.embed-responsive-1by1 {
	padding-bottom: 100%;
}
.gr_img_grid,
.gr_simple_image {
    overflow: hidden;
}


.gr_more_holder {
	text-align:center;
	margin:20px 0 10px;
}
.more-link {
	display: inline-block;
	text-align:center;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
	color:#999;
	line-height:20px;
}
.more-link:after {
	content:"";
	display:block;
	width:30%;
	margin:0 auto;
	margin-top:4px;
	border-bottom:2px solid #cdb48c;
	transition:all .35s;
}
.more-link:hover:after {
	width:50%;
	transition:all .35s;
}

.gr_blog_post_content_holder .text_holder {
	letter-spacing:1px;
}

.this_page .gr_blog_post_content_holder {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
/*.gr_blog_post_title_holder .blog_title {
    text-transform: uppercase;
}*/
.this_page .quote_post .gr_media {
    background: #cdb48c;
}

.this_page .head {
	position:relative;
    padding: 0;
    text-align: center;
    border: none;
	padding:40px 0;
	overflow:hidden;
}
.page .this_page .head {
	padding:0;
	margin-bottom:40px;
}
.this_page .head .gr_up_title {
    text-align: center;
	position: absolute;
	width: 100%;
	padding:0 20px 0 30px;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
}
.this_page .head .gr_up_title .text-overflow-center {
	display: block;
	width: 100%;
    text-align: center;
	color: rgba(0,0,0,0.03);
	text-transform: uppercase;
}
.this_page .blog_title {
  margin: 5px 0;
}
.this_page .gr_blog_post_cat,
.this_page .gr_blog_post_cat a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
	font-size:11px;
	font-weight:600;
	color:#999;
}
.gr_blog_post_cat .gr_separate,
.this_page .gr_blog_post_cat .gr_separate {
	display:inline-block;
	padding:0 10px;
}

.quote_post .gr_media,
.link_post .gr_media {
	position:relative;
    background: #cdb48c;
}
.quote_post .gr_media:before,
.link_post .gr_media:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	height: auto;
	margin:30px auto;
	z-index:2;
}
.quote_post .gr_media.gr_acc_dark:before {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.quote_post .gr_media.gr_acc_light:before {
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
}


.quote_post .gr_media.gr_acc_dark:after,
.quote_post .gr_media.gr_acc_light:after,
.link_post .gr_media.gr_acc_dark:after,
.link_post .gr_media.gr_acc_light:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	z-index:1;
}
.quote_post .gr_media.gr_acc_dark:after,
.link_post .gr_media.gr_acc_dark:after {
	background-color:rgba(0,0,0,0.2);
}
.quote_post .gr_media.gr_acc_light:after,
.link_post .gr_media.gr_acc_light:after {
	background-color:rgba(255,255,255,0.2);
}

.quote_post .text_holder,
.link_post .text_holder {
	letter-spacing:1px;
	z-index:3;
}

.quote_post .text_holder:before,
.this_page .quote_post .text_holder:before,
.link_post .text_holder:before,
.this_page .link_post .text_holder:before,
.link_post .gr_blog_post_cat_holder:before {
    font-family: 'FontAwesome';
    display: block;
    content: '\f10d';
    font-style: normal;
    position: absolute;
    top: 55px;
    left: 0;
	right:0;
    font-size: 18px;
}
.this_page .link_post .gr_blog_post_cat_holder:before {
	display:none;
}
.link_post .gr_blog_post_cat_holder:before {
	top:-20px;
}
.link_post .text_holder:before,
.this_page .link_post .text_holder:before,
.link_post .gr_blog_post_cat_holder:before {
	content: '\f0c1';
}

.quote_post .gr_acc_dark .text_holder,
.quote_post .gr_acc_dark .author a,
.link_post .gr_acc_dark .text_holder,
.link_post .gr_acc_dark .gr_blog_post_cat,
.link_post .gr_acc_dark .text_holder a,
.link_post .gr_acc_dark .text_holder h3 {
	color:#fff;
}
.quote_post .gr_acc_light .text_holder,
.quote_post .gr_acc_light .author a,
.link_post .gr_acc_light .text_holder,
.link_post .gr_acc_light .gr_blog_post_cat,
.link_post .gr_acc_light .text_holder a,
.link_post .gr_acc_light .text_holder h3 {
	color:#444;
}


.this_page .quote_post .text_holder,
.this_page .link_post .text_holder {
    position: relative;
    margin-top: 0;
    padding:100px 60px 80px 60px;
    font-style: italic;
	z-index:2;
	width:90%;
	margin:0 auto;
}
.this_page .link_post .text_holder {
	text-align:center;
	font-style:normal;
}

.this_page .link_post .blog_title_a {
	font-size:13px;
}

.this_page .quote_post .author,
.quote_post .author {
    font-size: 14px;
    font-weight: 400;
	font-style:normal;
	margin-top:20px;
}
.quote_post .author a:hover {
	color: inherit;
}
.this_page .comments-area {
	margin:40px 0;
}

.gr_prev_next {
	margin-top:40px;
}
.gr_prev_next .gr_prev_post,
.gr_prev_next .gr_next_post {
	position:relative;
	padding: 10px 15px;
	text-transform:uppercase;
	font-size:12px;
	line-height:14px;
	border: 1px solid #eaeaea;
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
}
.gr_prev_next .gr_prev_post:after,
.gr_prev_next .gr_next_post:after {
	font-family: 'FontAwesome';
	display:block;
	position:absolute;
	top:10px;
}
.gr_prev_next .gr_prev_post:after {
	content:'\f178';
	right:15px;
}
.gr_prev_next .gr_next_post:after {
	content:'\f177';
	left:15px;
}
.gr_prev_next .gr_prev_post {
	float:right;
	padding-right:40px;
}
.gr_prev_next .gr_next_post {
	float:left;
	padding-left:40px;
}
.gr_prev_next .gr_prev_post:hover,
.gr_prev_next .gr_next_post:hover {
	background-color:#cdb48c;
	color:#fff;
	border:1px solid #cdb48c;
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
}


.gr_share_holder {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	top:14px;
	padding:0 10px;
	background:#fff;
	border:1px dotted #eaeaea;
}
.gr_share_holder .gr_share_cont {
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}
.gr_share_holder .gr_share_button {
	text-transform:uppercase;
	color:#444;
	font-size: 10px;
	letter-spacing: 2px;
	text-align:center;
	cursor:pointer;
}
.gr_share_holder .gr_share_cont a {
	background-color: #fff;
	height: 30px;
	width: 30px;
	color:#999;
    display: inline-block;
    font-size: 16px;
	margin-right:3px;
	text-align:center;
	line-height:30px;
	transition:all .35s;
	-webkit-transition:all .35s;
}
.gr_share_holder .gr_share_cont a:hover {
	color:#cdb48c;
	transition:all .35s;
	-webkit-transition:all .35s;
}
.gr_share_holder ul > li > a:last-child {
	margin-right:0;
}

blockquote {
	position:relative;
    font-size: 18px;
	line-height: 26px;
    color: #999;
    font-style: italic;
	padding: 45px 60px;
	text-align: center;
	border-left:none;
	letter-spacing:1px;
    margin: 30px 0 !important;
}
blockquote p {
	margin:0;
}
blockquote:before {
	font-family: 'FontAwesome';
	content: '\f10d';
	padding-top:10px;
	font-style:normal;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	height: auto;
	margin: 0 auto;
	border-top: 2px solid #cdb48c;
	border-bottom: 2px solid #cdb48c;
}
blockquote:after {
	font-family: 'FontAwesome';
	display: block;
	content: '\f10e';
	font-style: normal;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 18px;
}

.gr_svg_warp {
    position: relative;
    width: 150px;
    height: 35px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
}
.gr_svg_warp a {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: none;
    -webkit-transition: none;
}
.shape {
    stroke-dasharray: 60 250;
    stroke-dashoffset: -230;
    stroke-width: 4px;
    fill: transparent;
    stroke: #ececec;
    transition: stroke .7s, stroke-width .7s, stroke-dashoffset .7s, stroke-dasharray .7s;
    -webkit-transition: stroke .7s, stroke-width .7s, stroke-dashoffset .7s, stroke-dasharray .7s;
}
.text {
    top: -37px;
    position: relative;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	word-spacing: 5px;
	font-weight: 700;
    text-align: center;
}
.gr_svg_warp:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 400;
}
.gr_pg {
	margin-bottom:30px;
}
.gr_pg .page-numbers {
    display: inline-block;
    padding: 0 8px;
    font-size: 11px;
	text-transform:uppercase;
	transition:background .35s, color .35s;
	-webkit-transition:background .35s, color .35s;
	-moz-transition:background .35s, color .35s;
}
.gr_pg .page-numbers:hover {
	background:#cdb48c;
	color:#fff;
	transition:background .35s, color .35s;
	-webkit-transition:background .35s, color .35s;
	-moz-transition:background .35s, color .35s;
}
.gr_pg .page-numbers.current {
	border-bottom:2px solid #cdb48c;
}


.gr-owl-holder {
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.gr-owl-holder img {
	transition:transform .15s ease-in-out;
	-webkit-transition:-webkit-transform .15s  ease-in-out;
}
.owl-item:hover .gr-owl-holder img {
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transition:transform .20s  ease-in-out;
	-webkit-transition:-webkit-transform .20s  ease-in-out;
}
.gr-owl-holder .gr-owl-content::before,
.gr-owl-holder .gr-owl-content::after {
    pointer-events: none;
}
.gr-owl-holder .gr-owl-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}
.gr-owl-holder .gr-owl-content,
.gr-owl-holder .gr-owl-content > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color:rgba(0,0,0,0.15);
}
.gr-owl-holder .gr-owl-content > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.gr-owl-holder .gr-owl-content-holder {
    position: absolute;
    left: 0;
	top:50%;
	width:100%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	padding:15px;
}
.gr-owl-holder .gr-owl-content-holder:after {
	content: "";
	display: block;
	width: 10%;
	margin: 0 auto;
	height: 2px;
	background-color: #fff;
	margin-top: 10px;
	transition:width .15s;
	-webkit-transition:width .15s;
	-moz-transition:width .15s;
}
.owl-item:hover .gr-owl-holder .gr-owl-content-holder:after {
	width:15%;
	transition:width .20s;
	-moz-transition:width .20s;
	-webkit-transition:width .20s;
}
.gr-owl-holder .gr-owl-date {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
	letter-spacing:1px;
}
.gr-owl-holder h2 {
    font-family: 'Lato';
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
	margin:0;
	letter-spacing:1px;
	text-transform:uppercase;
}
.gr_post_carusel .owl-carousel {
	margin-bottom:0;
}
.owl-controls {
	display:none !important;
}
.owl-theme .owl-dots .owl-dot span {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	height:5px;
	width:20px;
	background:none;
	border:1px solid #eaeaea;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background:#eaeaea;
	border:1px solid transperent;
}
/*------------------------------------------------------------------
[5. Responsive]
-------------------------------------------------------------------*/
/* Smartphones (portrait and landscape) ----------- */

@media (min-width: 0px) and (max-width: 767px) {
	.gr_site_holder {
		margin:10px;
	}

	.gr_box_holder .gr_box_share_holder a {
		width:30px;
		height:30px;
		font-size:18px;
		line-height:28px;
	}

	.this_page .comments-area {
		margin:40px 15px;
	}

	.gr_sidebar_pad {
		padding-right:15px !important;
	}
	.gr_footer_widget .gr_widget {
		margin-bottom:20px;
	}
	.gr_box_holder .gr_search_input {
		width:50%;
	}

	.gr_share_holder a {
		font-size: 14px;
		width: 26px;
		height: 26px;
		line-height: 26px;
	}
}
@media (min-width: 767px) and (max-width: 980px) {
	.gr_site_holder {
		margin:12px;
	}
	.container {
		width: 740px;
	}
	.gr_sidebar_pad {
		padding:0 15px;
	}
	.gr_site_holder {
		margin:12x;
	}
	.gr_sidebar_pad {
		padding:0 15px;
	}
	.this_page .comments-area {
		margin:40px 15px;
	}
}
@media (min-width: 980px) and (max-width: 1200px) {
	.gr_site_holder {
		margin:12px;
	}
	.gr_sidebar_pad {
		padding-right:30px;
	}
}
@media (min-width: 1024) and (max-width: 1280px) {
	.container {
		width: 970px;
	}
}


